/* Aligning image to the center with proper format */
.ai-image-generator{  
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 20px;
    gap: 30px;
}

/* Enlargening header text on top of image */
.header{
    font-size: 70px;
    font-weight: 500;
    padding-bottom: 30px;
}

/* Changing color of header text */
.header span{
    color: #DE1B89;
    font-weight: 600;
}

/* Changing display of loading image */
.img-loading{
    display: flex;
    flex-direction: column;
}

.img-loading img{
    width: 512px;
}

/* Adding dark background frame to text box */
.search-box{
    display: flex;
    width: 1000px;
    height: 95px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background:#1F3540;
}

/* Changing text box field display */
.search-input{
    width: 600px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: white;
    padding-left: 35px;
    margin-right: 35px;
}

/* Changing text box field color */
.search-input::placeholder{
    color: #999;
}

/* Changing button display and color */
.generate-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 85px;
    font-size: 20px;
    border-radius: 50px;
    background: #DE1B89;
    cursor: pointer;
}

/* Displaying loading bar with color */
.loading-bar{
    width: 0px;
    height: 8px;
    background: #DE1B89;
}

/* Changing text size of loading text */
.loading-text{
    font-size: 18px;
}

/* Formatting loading bar when it's full */
.loading-bar-full{
    width: 512px;
    height: 8px;
    background: #DE1B89;
    transition: 15s;   
}

/* Hiding loading bar */
.display-none{
    display: none;
}