/* Aligning image to the center with proper format */
.ai-image-generator{  
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 20px;
    gap: 30px;
}

/* Enlargening header text on top of image */
.header{
    font-size: 70px;
    font-weight: 500;
    padding-bottom: 30px;
}

/* Changing color of header text */
.header span{
    color: #DE1B89;
    font-weight: 600;
}

/* Changing display of loading image */
.img-loading{
    display: flex;
    flex-direction: column;
}

.img-loading img{
    width: 512px;
}

